
body{
    
    
    q-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    q-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    q-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 1.2em;

    qheight: 100%;
    margin: 0;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid blue;
    min-width: 380px;
    
    /*
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    */
}
a,a:visited{
    color: #FFFFFF;
    text-decoration: none;
}
#titulo{
    color: #FFFFFF;
    letter-spacing: 5px;
}
.container{
    padding: 0 10px 0 10px ;
    border: 1px solid green;
    width: 80%;
    margin: 0 auto;
}
.contenedor_titulo{
    background-color: #a804e3ba;
    padding: 15px 0 10px 10px;

}
.contenedor_titulo h1{
    qmargin: 0;
}
.contenedor_ejemplo{
    qwidth: 60%;
    border: 1px solid blue;
    padding: 5px;
    margin: 0 auto;
}
.ejemplos{
    padding-bottom: 15px;
}
section{
    border: 1px solid #FFFFFF;
    padding: 0 5px;
    qmargin: 0 auto;
}

.contenedor_link{
    border: 1px solid yellow;
    qbackground-color: gray;
    padding: 10px 5px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    background-color: #444;
    
}
.contenedor_link div{
    display: inline;
    
}
.contenedor_respuesta{
    border: 1px solid yellow;
    width: 85%;
    margin: 0 auto;
    padding: 10px;

    border-radius: 5px;
    background-color: #444;
}
.fab{
    color: wheat;
    font-size: 3em;
}
.fas{
    font-size: 1em;
}
.fa-copy{
    font-size: 1.5em;
}
.copiado{
    color: green;
}
.txt_copiar{
    display: inline;
    qmin-width: 200px;
    padding: 5px;
    border: 1px solid yellow;
    
}
.btn_copiar{
    cursor:pointer;
    padding: 5px;
    border-radius: 5px;
}

.footer_div_autor div{
    font-size: 1em;
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 20px;
}
.footer_div_autor div ~div{
    border-left: 1px solid white;
    border-width: 3px;
}
footer{    
    
    border: 1px solid red;    
    display: flex;
    flex-direction: column;
    qjustify-content: space-evenly;
    /*si lo activo va sin padding el div*/
    justify-content: center;
    qheight: 80px;
    qpadding: 0 0 50px 0;
    text-align: center;
}
footer div{
    qmargin: auto 0;
    qborder: 1px solid blue;
    padding: 20px 0;
    
}

qfooter{
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width:660px) {
    body{
        font-size: 11px;
    }
    .container{
        padding: 0;
        width: 95%;
    }
    .contenedor_link div{
        display: block;
        margin-top: 10px;
    }
    .txt_copiar{
        padding: 0;
    }
    .ejemplos button{
        padding: 2px;
    }

    footer{
        font-size: 1.3em;
        padding: 10px 0 20px 0;
        color:red;
        display: block;
        text-align: center;

        height: min-content;
        border: 1px solid white;
    }
    footer div{
        qpadding: 10px 0;
    }
    footer div~div{
        qborder-left: none;
    }
}